.vscode/
.idea/
.DS_Store
npm-debug.log
yarn.lock
node_modules/
src/
demo/
data/
assets/
dist/assets/

.gitignore
.gitlab-ci.yml
.npmignore
.npmrc
.prettierignore
prettier.config.js
tsconfig.es6.json
tsconfig.json
tslint.json
webpack.config.js
index.html
